<section>
    <h1 routerLink="/admin/applicants">
        Details
        <button mat-raised-button color="primary" style="float: right;">Back</button>
    </h1>
    <article>
        <p>Job Id: <a routerLink="/admin/job/details/{{job_id}}">Job Details</a></p>
        <p>Email Address: {{email}}</p>
        <p>Full Name: {{full_name}}</p>
        <p>Contact: {{contact}}</p>
        <p>Resume: <a href="http://jobportal.test{{resume}}" target="_blank">{{resume}}</a></p>
        <p>Created At: {{created_at}}</p>
    </article>
</section>