table {
    width: 100%;
}

section{
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
}

.column{
    display: inline;
}
.example-form{
    width: 100%;
}
.example-full-width {
    width: 100%;
  }

h1{
    font-size:50px;
    margin: 0px;
}
.rightbutton{
    float: right;
}