
<form class="example-form" enctype="multipart/form-data" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

    <h1>Login</h1>

    <mat-form-field class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Your Email Address" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="You Account Password" formControlName="password" required>
    </mat-form-field>

    <button mat-stroked-button color="primary" class="left">Login</button>
    
</form>