.example-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    padding-bottom: 70px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    margin-top: 200px;
  }
  
  .example-full-width {
    width: 100%;
  }

  button.left{
      float: right;
  }

  section {
    display: table;
    margin: 8px;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }