<section>
    <article>
        <table width="100%">
            <tr>
                <td width="70%">
                    <div class="column details">
                        <h1>{{title}}</h1>
                        <div>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <mat-card>
                        <mat-card-title>Submit Resume to Apply</mat-card-title>
                        <div class="column form-apply">
                            <form class="example-form" enctype="multipart/form-data" [formGroup]="ApplyForm" novalidate (ngSubmit)="onSubmit()">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Email Address</mat-label>
                                    <input type="email" matInput placeholder="Your Email Address" formControlName="email" required>
                                    <mat-error>
                                        <div *ngIf="ApplyForm.get('email').hasError('required')">Email Addresss is required.</div>
                                        <div *ngIf="ApplyForm.get('email').hasError('email')">Invalid email address.</div>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Full Name</mat-label>
                                    <input type="text" matInput placeholder="Your Full Name" formControlName="fullname" required>
                                    <mat-error>
                                        <div *ngIf="ApplyForm.get('fullname').hasError('required')">Fullname is required.</div>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact Number</mat-label>
                                    <input type="text" matInput placeholder="Your Contact Number" formControlName="contact" required>
                                    <mat-error>
                                        <div *ngIf="ApplyForm.get('contact').hasError('required')">Contact Number is required.</div>
                                    </mat-error>
                                </mat-form-field>
                                <br><br>

                                <div class="example-full-width">
                                    <mat-label>Resume</mat-label><br>
                                    <input type="file" placeholder="Your Resume" formControlName="resume" (change)="onFileChange($event)" required>
                                    <mat-error>
                                        <div *ngIf="ApplyForm.get('resume').hasError('extension')"><small>Invalid File Type.</small></div>
                                    </mat-error>
                                </div>
                                <br />
                                <br />
                                <div class="example-full-width">
                                    <button type="submit" mat-raised-button color="primary" [disabled]="!ApplyForm.valid">Apply Now !</button>
                                </div>
                                
                            </form>
                        </div>
                    </mat-card>
                </td>
            </tr>
        </table>
    </article>
</section>