section{
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
}
article{
    margin-top: 20px;
    padding: 20px;
}
td{
    vertical-align: top;
}
.column{
    display: inline;
}
.example-form{
    width: 100%;
}
.example-full-width {
    width: 100%;
  }

h1{
    font-size:50px;
    margin: 0px;
}