<section>
    <div *ngIf="ListShow; else formadd">
        <h1>
            Details
            <button (click)="showForm()" mat-raised-button style="float: right;">Edit</button> &nbsp;
            <button routerLink="/admin/jobs" mat-raised-button color="primary" style="float: right;">Back</button>
        </h1>
        <article>
            <h1>Job Title: {{title}}</h1>
            <p>Description: {{description}}</p>
            <p>Created At: {{created_at}}</p>
        </article>
    </div>

    <div>
        <ng-template #formadd>
            <mat-card>
                <mat-card-title>Edit Job Details</mat-card-title>
                <div class="column form-apply">
                    <form class="example-form" enctype="multipart/form-data" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        
                        <mat-form-field class="example-full-width">
                            <mat-label>Title</mat-label>
                            <input type="text" matInput placeholder="Job Title" formControlName="title" required>
                            <mat-error>
                                <div *ngIf="form.get('title').hasError('required')">Title is required.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field class="example-full-width">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Job Description" formControlName="description" required></textarea>
                            <mat-error>
                                <div *ngIf="form.get('description').hasError('required')">Description is required.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <br />
                        <br />
                        <div class="example-full-width">
                            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
                            <button type="button" class="rightbutton" mat-raised-button color="default" (click)="closeForm()">Cancel</button>
                        </div>
                        
                    </form>
                </div>
            </mat-card>
        </ng-template>
    </div>
</section>