
<section>
  <h2>User List</h2>
  <hr />
  <div *ngIf="ListShow; else form">
    <mat-form-field>
      <mat-label>Search By Email</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search by email">
    </mat-form-field>

    <button type="button" class="rightbutton" mat-raised-button color="primary" (click)="showForm()">Add New</button>

    <div *ngIf="dataSource.length == 0">
      <hr />
      <h3 style="text-align: center;">No Data.</h3>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length !== 0">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="created_at">
          <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="updated_at">
          <mat-header-cell *matHeaderCellDef> Updated At </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.updated_at}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
              Action
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <a routerLink="/admin/user/details/{{element.id}}">View</a> &nbsp; | &nbsp;
              <a (click)="delete(element.id)" style="text-decoration: underline;cursor: pointer;">Delete</a>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <ng-template #form>
    <mat-card>
      <mat-card-title>Add New User</mat-card-title>
        <div class="column form-apply">
            <form class="example-form" enctype="multipart/form-data" [formGroup]="formUser" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field class="example-full-width">
                    <mat-label>Email Address</mat-label>
                    <input type="email" matInput placeholder="Email Address" formControlName="email" required>
                    <mat-error>
                        <div *ngIf="formUser.get('email').hasError('required')">Email Addresss is required.</div>
                        <div *ngIf="formUser.get('email').hasError('email')">Invalid email address.</div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput placeholder="First Name" formControlName="first_name" required>
                    <mat-error>
                        <div *ngIf="formUser.get('first_name').hasError('required')">First Name is required.</div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput placeholder="Last Name" formControlName="last_name" required>
                    <mat-error>
                        <div *ngIf="formUser.get('last_name').hasError('required')">Last Name is required.</div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                    <mat-error>
                        <div *ngIf="formUser.get('password').hasError('required')">Password is required.</div>
                        <div *ngIf="formUser.get('password').hasError('minlength')">Password must be minimum of 6 in length.</div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirm_password" required>
                    <mat-error>
                      <div *ngIf="formUser.get('confirm_password').hasError('compare')">Password not match.</div>
                    </mat-error>
                </mat-form-field>

                <br />
                <br />
                <div class="example-full-width">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!formUser.valid">Save</button>
                    <button type="button" class="rightbutton" mat-raised-button color="default" (click)="closeForm()">Cancel</button>
                </div>
                
            </form>
        </div>
    </mat-card>
  </ng-template>
</section>
