<section>
    <div *ngIf="ListShow; else formsee">
        <h1>
            Details
            <button (click)="showForm()" mat-raised-button style="float: right;">Edit</button> &nbsp;
            <button routerLink="/admin/employers" mat-raised-button color="primary" style="float: right;">Back</button>
        </h1>
        <article>
            <p>Email Address: {{email}}</p>
            <p>First Name: {{first_name}}</p>
            <p>Last Name: {{last_name}}</p>
            <p>Created At: {{created_at}}</p>
        </article>
    </div>
    <div>
        <ng-template #formsee>
            <mat-card>
              <mat-card-title>Edit User Details</mat-card-title>
                <div class="column form-apply">
                    <form class="example-form" enctype="multipart/form-data" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        
                        <mat-form-field class="example-full-width">
                            <mat-label>Email Address</mat-label>
                            <input type="email" matInput placeholder="Email Address" formControlName="email" required>
                            <mat-error>
                                <div *ngIf="form.get('email').hasError('required')">Email Addresss is required.</div>
                                <div *ngIf="form.get('email').hasError('email')">Invalid email address.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field class="example-full-width">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput placeholder="First Name" formControlName="first_name" required>
                            <mat-error>
                                <div *ngIf="form.get('first_name').hasError('required')">First Name is required.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput placeholder="Last Name" formControlName="last_name" required>
                            <mat-error>
                                <div *ngIf="form.get('last_name').hasError('required')">Last Name is required.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" formControlName="password" required>
                            <mat-error>
                                <div *ngIf="form.get('password').hasError('required')">Password is required.</div>
                                <div *ngIf="form.get('password').hasError('minlength')">Password must be minimum of 6 in length.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field class="example-full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput placeholder="Confirm Password" formControlName="confirm_password" required>
                            <mat-error>
                              <div *ngIf="form.get('confirm_password').hasError('compare')">Password not match.</div>
                            </mat-error>
                        </mat-form-field>
        
                        <br />
                        <br />
                        <div class="example-full-width">
                            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
                            <button type="button" class="rightbutton" mat-raised-button color="default" (click)="closeForm()">Cancel</button>
                        </div>
                        
                    </form>
                </div>
            </mat-card>
          </ng-template>
    </div>
</section>