
<section>
    <h2>Applicants List</h2>
    <hr />
    <div *ngIf="ListShow; else form">
      <mat-form-field>
        <mat-label>Search By Email</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by email">
      </mat-form-field>
  

      <div *ngIf="dataSource.length == 0">
        <hr />
        <h3 style="text-align: center;">No Data.</h3>
      </div>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length !== 0">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="full_name">
            <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.full_name}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="updated_at">
            <mat-header-cell *matHeaderCellDef> Updated At </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.updated_at}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
                Action
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="/admin/applicant/details/{{element.id}}">View</a>&nbsp;|&nbsp;
              <a (click)="delete(element.id)" style="text-decoration: underline;cursor: pointer;">Delete</a>
            </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </section>
  