<section>
    <div *ngIf="jobs.length == 0">
        <h3 style="text-align: center;">No Jobs Available Right Now!.</h3>
    </div>

    <div *ngIf="jobs.length !== 0">
        <article *ngFor="let job of jobs">
            <mat-card>
                <h1>{{job.title}}</h1>
                <div>
                    <p>
                        {{job.description}}
                    </p>
                </div>
                <a routerLink="/job/post/{{job.id}}" mat-stroked-button color="primary" class="left">View Job Details to Apply</a>
            </mat-card>
        </article>
    </div>
</section>