<section>
  <article>
    <h1>Welcome to Job Portal</h1>
    <hr />

    <h3>
      You can browse Job Openings By navigating into Job List.
    </h3>
    <br />
    <a routerLink="/jobs" mat-stroked-button color="primary" class="button-big">Browse Job Now!</a>
  </article>
</section>