
<section>
    <h2>Job Posting List</h2>
    <hr />
    <div *ngIf="ListShow; else formadd">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
      </mat-form-field>
  
      <button type="button" class="rightbutton" mat-raised-button color="primary" (click)="showForm()">Add New</button>

      <div *ngIf="dataSource.length == 0">
        <hr />
        <h3 style="text-align: center;">No Data.</h3>
      </div>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length !== 0">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Job Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="updated_at">
            <mat-header-cell *matHeaderCellDef> Updated At </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.updated_at}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
                Action
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink="/admin/job/details/{{element.id}}">View</a> &nbsp; | &nbsp;
                <a (click)="delete(element.id)" style="text-decoration: underline;cursor: pointer;">Delete</a>
            </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  
    <ng-template #formadd>
      <mat-card>
        <mat-card-title>Add New Job</mat-card-title>
          <div class="column form-apply">
              <form class="example-form" enctype="multipart/form-data" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  
                  <mat-form-field class="example-full-width">
                      <mat-label>Title</mat-label>
                      <input type="text" matInput placeholder="Job Title" formControlName="title" required>
                      <mat-error>
                          <div *ngIf="form.get('title').hasError('required')">Title is required.</div>
                      </mat-error>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width">
                      <mat-label>Description</mat-label>
                      <textarea matInput placeholder="Job Description" formControlName="description" required></textarea>
                      <mat-error>
                          <div *ngIf="form.get('description').hasError('required')">Description is required.</div>
                      </mat-error>
                  </mat-form-field>
  
                  <br />
                  <br />
                  <div class="example-full-width">
                      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
                      <button type="button" class="rightbutton" mat-raised-button color="default" (click)="closeForm()">Cancel</button>
                  </div>
                  
              </form>
          </div>
      </mat-card>
    </ng-template>
  </section>
  