<mat-toolbar color="accent">
    <mat-toolbar-row>
      <a routerLink="/" style="text-decoration: none;"><h1>{{title}} </h1></a>
      <span class="menu-spacer"></span>
      <div *ngIf="!isLogin">
        <!-- // no auth -->
        <a mat-button routerLink="/jobs" *ngIf="!isLogin"> Jobs </a>
        <!-- // no auth -->
        <a mat-button routerLink="/login"> Login </a>
      </div>

      <div *ngIf="isLogin">
        <!-- // with auth -->
        <a mat-button routerLink="/admin/jobs"> Jobs </a>
        <a mat-button routerLink="/admin/users" *ngIf="userData.user_type == 1"> Users </a>
        <a mat-button routerLink="/admin/employers"> Employers </a>
        <a mat-button routerLink="/admin/applicants"> Applicants </a>
        <a mat-button (click)="logout()"> Logout </a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>